<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.city.my.mapper.DeptMapper">
	<resultMap type="com.city.my.domain.Dept" id="deptRM">
		<id property="id" column="dept_id"/>
		<result property="deptname" column="deptname"/>
		<result property="deptmanager" column="deptmanager"/>
		<result property="deptaddress" column="deptaddress"/>
		<result property="deptnote" column="deptnote"/>
	</resultMap>
	<select id="find" parameterType="map" resultMap="deptRM">
		select * from dept_c
		where 1=1
	</select>
	
	<select id="get" parameterType="string" resultMap="deptRM">
		select * from dept_c
		where dept_id=#{pid}
	</select>
	
	 <insert id="insert" parameterType="com.city.my.domain.Dept">
	insert into dept_c
	(dept_id,deptname,deptmanager,deptaddress,deptnote)
	values
	(#{id},#{deptname},#{deptmanager},#{deptaddress},#{deptnote})
	</insert> 
	
	<!-- 删除一条 -->
	<delete id="deleteById" parameterType="string">
		delete from dept_c
		where dept_id=#{pid}
	</delete>
	
	<!-- 删除多条（一维字符串数组） -->
	<delete id="delete" parameterType="string">
		delete from dept_c
		where dept_id in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
</mapper>
